// SPDX-License-Identifier: GPL-2.0
/*
 * FriendlyARM's Exynos4412 based TINY4412 board device tree source
 *
 * Copyright (c) 2013 Alex Ling <kasimling@gmail.com>
 *
 * Device tree source file for FriendlyARM's TINY4412 board which is based on
 * Samsung's Exynos4412 SoC.
 */

/dts-v1/;
#include "exynos4412.dtsi"
#include <dt-bindings/sound/samsung-i2s.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "FriendlyARM TINY4412 board based on Exynos4412";
	compatible = "friendlyarm,tiny4412", "samsung,exynos4412", "samsung,exynos4";

	chosen {
		stdout-path = &serial_0;
		bootargs = "root=/dev/ram0 rw rootfstype=ext4 console=ttySAC0,115200 init=/linuxrc earlyprintk";
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0x40000000>;
	};
	
	HelloWorld {
		compatible = "tiny4412, hello_world";
		status = "okay";

		test {
			label = "test";
		};
	};


	leds {
		compatible = "gpio-leds";
		status = "disabled";

		led1 {
			label = "led1";
			gpios = <&gpm4 0 GPIO_ACTIVE_LOW>;
			default-state = "off";
			linux,default-trigger = "heartbeat";
		};

		led2 {
			label = "led2";
			gpios = <&gpm4 1 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led3 {
			label = "led3";
			gpios = <&gpm4 2 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led4 {
			label = "led4";
			gpios = <&gpm4 3 GPIO_ACTIVE_LOW>;
			default-state = "off";
			linux,default-trigger = "mmc0";
		};
	};
	
	gpio_demo {
		compatible = "tiny4412,gpio_demo";
		reg = <0x110002e0 0x10>;
		tiny4412,gpio = <&gpm4 0 GPIO_ACTIVE_HIGH &gpm4 1 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default", "gpio_sleep", "gpio_active";
		pinctrl-0 = <&led_gpio_default>;
		pinctrl-1 = <&led_gpio_sleep>;
		pinctrl-2 = <&led_gpio_active>;
	};

	beep {
		compatible = "tiny4412,beep";
		reg = <0x114000A0 0x20>;
		tiny4412,gpio = <&gpd0 0 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default", "gpio_active";
		pinctrl-0 = <&beep_default>;
		pinctrl-1 = <&beep_active>;
	};

/*
	 interrupt_demo: interrupt_demo {
            compatible         = "tiny4412,interrupt_demo";
            tiny4412,key1 = <&gpx3 2 GPIO_ACTIVE_HIGH>;
            tiny4412,key2 = <&gpx3 3 GPIO_ACTIVE_HIGH>;
            tiny4412,key3 = <&gpx3 4 GPIO_ACTIVE_HIGH>;
            tiny4412,key4 = <&gpx3 5 GPIO_ACTIVE_HIGH>;
    };

*/

	keys {
                compatible = "tiny4412,keys";
                tiny4412,key1 = <&gpx3 2 GPIO_ACTIVE_HIGH>;
                tiny4412,key2 = <&gpx3 3 GPIO_ACTIVE_HIGH>;
                tiny4412,key3 = <&gpx3 4 GPIO_ACTIVE_HIGH>;
                tiny4412,key4 = <&gpx3 5 GPIO_ACTIVE_HIGH>;
        };

	timer3@139D0000 {
		compatible = "tiny4412,timer3";
		reg = <0x139D0000 0x48>;
		interrupts = <0 40 0>;
		clocks = <&clock CLK_PWM>;
		clock-names = "timers";
	};

	adc@126C0000 {
		compatible = "tiny4412,adc";
		reg = <0x126C0000  0x20>;
		clocks = <&clock CLK_TSADC>;
		clock-names = "timers";
		interrupt-parent = <&combiner>;
		interrupts = <10 3>;
	};


	backlight {
		compatible = "tiny4412,backlight";
		reg = <0x139D0000 0x1000>;
		pinctrl-names = "backlight_in", "backlight_out";
		pinctrl-0 = <&backlight_in>;
		pinctrl-1 = <&backlight_out>;
		gpios = <&gpx1 2 GPIO_ACTIVE_HIGH>;
		clock-names = "timers";
		clocks = <&clock CLK_PWM>;
		interrupts = <GIC_SPI 40 IRQ_TYPE_LEVEL_HIGH>;
		pwms = <&pwm 0 1000000000 0>;
	};



/*
	backlight_demo@139D0000{
		compatible = "tiny4412,backlight_demo";
		reg = <0x139D0000  0x14>;
		tiny4412,backlight = <&gpx1 2 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "backlight_out","backlight_in";
		pinctrl-0 = <&backlight_out>;
		pinctrl-1 = <&backlight_in>;
		interrupts = <0 40 0>;
		clocks = <&clock CLK_PWM>;
		clock-names = "timers";
	};

	backlight {
		compatible = "tiny4412, onewire_backlight";
		reg = <0x139D0000 0x1000>;
		pinctrl-names = "backlight_in", "backlight_out";
		pinctrl-0 = <&backlight_in>;
		pinctrl-1 = <&backlight_out>;
		gpios = <&gpx1 2 GPIO_ACTIVE_HIGH>;
		clock-names = "timers";
		clocks = <&clock CLK_PWM>;
		interrupts = <GIC_SPI 40 IRQ_TYPE_LEVEL_HIGH>;
		pwms = <&pwm 0 1000000000 0>;
	};
*/

	beep-pwm {
                compatible = "tiny4412,beep-pwm";
                reg = <0x139D0000 0x14>;
                pinctrl-names = "pwm_pin";
                pinctrl-0 = <&pwm_pin>;
                clocks = <&clock CLK_PWM>;
                clock-names = "timers";
        };

	lcd@11C00000 {
		compatible = "tiny4412,lcd";
		reg = <0x11C00000  0x20c0 0x10010210 0x08 0x10023c80 0x04 0x1003c000 0x1000>;
		pinctrl-names = "default";
		pinctrl-0 = <&lcd>;
		clocks = <&clock CLK_FIMD0 &clock CLK_ACLK160>;
		clock-names = "fimd0","aclk160";
	};

/*
	sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "wm-sound";

		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&link0_codec>;
		simple-audio-card,frame-master = <&link0_codec>;

		simple-audio-card,widgets =
			"Microphone", "Mic Jack",
			"Line", "Line In",
			"Line", "Line Out",
			"Speaker", "Speaker",
			"Headphone", "Headphone Jack";
		simple-audio-card,routing =
			"Headphone Jack", "HP_L",
			"Headphone Jack", "HP_R",
			"Speaker", "SPK_LP",
			"Speaker", "SPK_LN",
			"Speaker", "SPK_RP",
			"Speaker", "SPK_RN",
			"LINPUT1", "Mic Jack",
			"LINPUT3", "Mic Jack",
			"RINPUT1", "Mic Jack",
			"RINPUT2", "Mic Jack";

		simple-audio-card,cpu {
			sound-dai = <&i2s0 0>;
		};

		link0_codec: simple-audio-card,codec {
			sound-dai = <&codec>;
			clocks = <&i2s0 CLK_I2S_CDCLK>;
			system-clock-frequency = <11289600>;
		};
	};
*/

	sound{
		compatible = "tiny4412,wm8960-machine";
		samsung,i2s-controller = <&i2s0>;
		samsung,audio-codec = <&codec>;
		samsung,name = "wm-8960a";
		clocks = <&clock CLK_FOUT_EPLL>;
		clock-names = "fout_epll";
		samsung-audio-card,widgets =
			"Microphone", "Mic Jack",
			"Line", "Line In",
			"Line", "Line Out",
			"Speaker", "Speaker",
			"Headphone", "Headphone Jack";
		samsung-audio-card,routing =
			"Headphone Jack", "HP_L",
			"Headphone Jack", "HP_R",
			"Speaker", "SPK_LP",
			"Speaker", "SPK_LN",
			"Speaker", "SPK_RP",
			"Speaker", "SPK_RN",
			"LINPUT1", "Mic Jack",
			"LINPUT3", "Mic Jack",
			"RINPUT1", "Mic Jack",
			"RINPUT2", "Mic Jack";
	};

	fixed-rate-clocks {
		xxti {
			compatible = "samsung,clock-xxti";
			clock-frequency = <0>;
		};

		xusbxti {
			compatible = "samsung,clock-xusbxti";
			clock-frequency = <24000000>;
		};
	};

	usb-hub {
		compatible = "smsc,usb4604";
		reset-gpios = <&gpm2 4 GPIO_ACTIVE_LOW>;
		initial-mode = <1>;
		status = "okay";
	};
	
	regulators {
                compatible = "simple-bus";
                #address-cells = <1>;
                #size-cells = <0>;

                mmc_reg: regulator@0{
                        compatible = "regulator-fixed";
                        reg = <0>;
                        regulator-name = "VMEM_VDD_2.8V";
                        regulator-min-microvolt = <2800000>;
                        regulator-max-microvolt = <2800000>;
                };
        };

};

&pinctrl_0 {
	beep_default:beep_default {
		samsung,pins = "gpd0-0";
                samsung,pin-function = <1>;  //  output
                samsung,pin-pud = <1>;       //  Enables Pull-down
                samsung,pin-drv = <0>;       //  1X
	};

	beep_active:beep_active {
                samsung,pins = "gpd0-0";
                samsung,pin-function = <1>;  // output
                samsung,pin-pud = <1>;       // Enables Pull-down
                samsung,pin-drv = <2>;       // 2X
        };

	pwm_pin: pwm_pin {
		samsung,pins = "gpd0-0";
		samsung,pin-function = <2>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};

	lcd:lcd {
		samsung,pins = "gpf0-0", "gpf0-1", "gpf0-2", "gpf0-3", "gpf0-4",
			"gpf0-5", "gpf0-6","gpf0-7", "gpf1-0", "gpf1-1",
			"gpf1-2", "gpf1-3", "gpf1-4", "gpf1-5", "gpf1-6",
			"gpf1-7", "gpf2-0", "gpf2-1", "gpf2-2", "gpf2-3", 
			"gpf2-4", "gpf2-5", "gpf2-6","gpf2-7", "gpf3-0",
			"gpf3-1", "gpf3-2", "gpf3-3";
		samsung,pin-function = <2>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};
};

&pinctrl_1 {
	led_gpio_default: led_gpio_default {
		samsung,pins = "gpm4-0", "gpm4-1";
		samsung,pin-function = <1>;
		samsung,pin-pud = <1>;
		samsung,pin-drv = <2>;
	};
	
	led_gpio_sleep: led_gpio_sleep {
		samsung,pins = "gpm4-0", "gpm4-1";
		samsung,pin-function = <1>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};
	
	led_gpio_active: led_gpio_active {
		samsung,pins = "gpm4-0", "gpm4-1";
		samsung,pin-function = <1>;
		samsung,pin-pud = <3>;
		samsung,pin-drv = <3>;
	};

	backlight_out: backlight_out {
		samsung,pins = "gpx1-2";
		samsung,pin-function = <EXYNOS_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-drv = <EXYNOS4_PIN_DRV_LV1>;
	};

	backlight_in: backlight_in {
		samsung,pins = "gpx1-2";
		samsung,pin-function = <EXYNOS_PIN_FUNC_INPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-drv = <EXYNOS4_PIN_DRV_LV1>;
	};
};

&i2s0 {
	pinctrl-0 = <&i2s0_bus>;
	pinctrl-names = "default";
	status = "okay";
};



&i2c_0 {
	samsung,i2c-sda-delay = <100>;
	samsung,i2c-max-bus-freq = <400000>;
	status = "okay";

	
	eeprom@50 {                      // the same as driverid_table->name
		compatible = "tiny4412,eeprom";     
		reg = <0x50>;            // slave address
	};

	codec: wm8960@1a {
		compatible = "wlf,wm8960";
		reg = <0x1a>;
		clocks = <&pmu_system_controller 0>;
		clock-names = "MCLK1";
		wlf,shared-lrclk;
		#sound-dai-cells = <0>;
	};
};

&i2c_1 {
	samsung,i2c-sda-delay = <100>;
	samsung,i2c-max-bus-freq = <400000>;
	status = "okay";



	it7260_ts@46 {
		compatible = "it7260_ts";
		reg = <0x46>;
		//pinctrl-names = "default";
		//pinctrl-0 = <&i2c1_bus>;
		interrupt-parent = <&gpx1>;
		interrupts = <6 IRQ_TYPE_EDGE_FALLING>;
		touchscreen-size-x = <1024>;
		touchscreen-size-y = <600>;
	};

};

&rtc {
	status = "okay";
};

&sdhci_2 {
	bus-width = <4>;
	pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_cd &sd2_bus4>;
	pinctrl-names = "default";
	vmmc-supply = <&mmc_reg>;
	cd-gpios = <&gpk2 2 GPIO_ACTIVE_HIGH>;
	cd-inverted;
	status = "okay";
};

&serial_0 {
	status = "okay";
};

&serial_1 {
	status = "okay";
};

&serial_2 {
	status = "okay";
};

&serial_3 {
	status = "okay";
};

&exynos_usbphy {
        status = "okay";
};

&ehci {
    status = "okay";
    port@0 {
      status = "okay";
    };
    port@1 {
      status = "okay";
    };
    port@2 {
      status = "okay";
    };
};

&ohci {
        status = "okay";
        port@0 {
                status = "okay";
        };
};

&hsotg {
        status = "okay";
};

&mshc_0 {
	num-slots = <1>;
	clock-frequency = <400000000>;

	non-removable;
        pinctrl-0 = <&sd4_clk &sd4_cmd &sd4_bus4 &sd4_bus8>;
        pinctrl-names = "default";
	vmmc-supply = <&mmc_reg>;
        status = "okay";

        broken-cd;
        card-detect-delay = <200>;
        samsung,dw-mshc-ciu-div = <3>;
        samsung,dw-mshc-sdr-timing = <2 3>;
        samsung,dw-mshc-ddr-timing = <1 2>;
        bus-width = <8>;
        cap-mmc-highspeed;
};

